{{! This file is picked from the v4.3.1 release of openapi-generator(https://github.com/OpenAPITools/openapi-generator/blob/v4.3.1/modules/openapi-generator/src/main/resources/python/requirements.mustache) }}
{{! Changes made: 1) Added requirements for fds.protobuf.stach and pandas. }}
certifi >= 14.05.14
future; python_version<="2.7"
six >= 1.10
python_dateutil >= 2.5.3
setuptools >= 21.0.0
urllib3 >= 1.15.1
fds.protobuf.stach < 2.0.0
pandas < 2.0.0