astroid==2.6.2
atomicwrites==1.4.0
attrs==21.2.0
colorama==0.4.4
fds.protobuf.stach<2.0.0
fds.protobuf.stach.extensions<2.0.0
fds.protobuf.stach.v2<2.0.0
iniconfig==1.1.1
isort==5.9.1
lazy-object-proxy==1.6.0
mccabe==0.6.1
packaging==20.9
pandas==1.2.5
pluggy==0.13.1
protobuf==3.17.3
py==1.10.0
pylint==2.9.1
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
pytz==2021.1
six==1.16.0
toml==0.10.2
urllib3==1.26.17
wrapt==1.12.1
