{"swagger":"2.0","info":{"version":"2","title":"Engines API","description":"Allow clients to fetch Engines Analytics through APIs.","contact":{"name":"Analytics API Support","url":"https://developer.factset.com/contact","email":"analytics.api.support@factset.com"},"license":{"name":"The Apache Software License, Version 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.txt"}},"host":"api.factset.com","schemes":["https"],"paths":{"/analytics/lookups/v2/accounts/{path}":{"get":{"tags":["Accounts"],"summary":"Get accounts and sub-directories in a directory","description":"This endpoint looks up all ACCT and ACTM files and sub-directories in a given directory.","operationId":"getAccounts","consumes":[],"produces":["application/json"],"parameters":[{"name":"path","in":"path","description":"The directory to get the accounts and sub-directories in","required":true,"type":"string","default":""}],"responses":{"200":{"description":"Expected response, returns a list of accounts and directories","schema":{"$ref":"#/definitions/AccountDirectories"},"headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"400":{"description":"Invalid query parameter or value provided","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"401":{"description":"Missing or invalid authentication","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"403":{"description":"User is forbidden with current credentials","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"404":{"description":"Path not found","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"406":{"description":"Unsupported Accept header.  Header needs to be set to application/json","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"500":{"description":"Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"503":{"description":"Request timed out. Retry the request in some time","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}}}}},"/analytics/engines/v2/calculations":{"get":{"tags":["Calculations"],"summary":"Get all calculation statuses","description":"This endpoints returns all active calculation requests.","operationId":"getCalculationStatusSummaries","consumes":[],"produces":["text/plain","application/json","text/json"],"parameters":[],"responses":{"200":{"description":"List of active calculation requests.","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/CalculationStatusSummary"}},"headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"401":{"description":"Missing or invalid authentication.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"403":{"description":"User is forbidden with current credentials.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"406":{"description":"Unsupported Accept header. Header needs to be set to application/json.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"500":{"description":"Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"503":{"description":"Request timed out. Retry the request in sometime.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}}}},"post":{"tags":["Calculations"],"summary":"Run calculation","description":"This endpoint creates a new calculation and runs the set of calculation units specified in the POST body.\r\nThis must be used first before get status or cancelling endpoints with a calculation id. \r\nA successful response will contain the URL to check the status of the calculation request.\r\n\r\nRemarks:\r\nâ¢\tMaximum 25 points allowed per calculation and maximum 500 points allowed across all simultaneous calculations. (Refer API documentation for more information)\r\n            \r\nâ¢\tAny settings in POST body will act as a one-time override over the settings saved in the PA/SPAR/Vault template.","operationId":"runCalculation","consumes":["application/json"],"produces":[],"parameters":[{"name":"calculation","in":"body","description":"","required":false,"schema":{"$ref":"#/definitions/Calculation"}}],"responses":{"202":{"description":"Expected response, contains the URL in the Location header to check the status of the calculation.","headers":{"Location":{"description":"URL to check status of the request.","type":"string"},"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-FactSet-Api-Points-Limit":{"description":"Maximum points limit across all batches.","type":"string"},"X-FactSet-Api-Points-Remaining":{"description":"Number of points remaining till points limit reached.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"400":{"description":"Invalid POST body.","headers":{"Location":{"description":"URL to check status of the request.","type":"string"},"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-FactSet-Api-Points-Limit":{"description":"Maximum points limit across all batches.","type":"string"},"X-FactSet-Api-Points-Remaining":{"description":"Number of points remaining till points limit reached.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"401":{"description":"Missing or invalid authentication.","headers":{"Location":{"description":"URL to check status of the request.","type":"string"},"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-FactSet-Api-Points-Limit":{"description":"Maximum points limit across all batches.","type":"string"},"X-FactSet-Api-Points-Remaining":{"description":"Number of points remaining till points limit reached.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"403":{"description":"User is forbidden with current credentials.","headers":{"Location":{"description":"URL to check status of the request.","type":"string"},"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-FactSet-Api-Points-Limit":{"description":"Maximum points limit across all batches.","type":"string"},"X-FactSet-Api-Points-Remaining":{"description":"Number of points remaining till points limit reached.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"415":{"description":"Missing/Invalid Content-Type header. Header needs to be set to application/json.","headers":{"Location":{"description":"URL to check status of the request.","type":"string"},"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-FactSet-Api-Points-Limit":{"description":"Maximum points limit across all batches.","type":"string"},"X-FactSet-Api-Points-Remaining":{"description":"Number of points remaining till points limit reached.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"429":{"description":"Rate limit reached. Cancel older requests using Cancel Calculation endpoint or wait for older requests to finish / expire.","headers":{"Location":{"description":"URL to check status of the request.","type":"string"},"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-FactSet-Api-Points-Limit":{"description":"Maximum points limit across all batches.","type":"string"},"X-FactSet-Api-Points-Remaining":{"description":"Number of points remaining till points limit reached.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"500":{"description":"Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.","headers":{"Location":{"description":"URL to check status of the request.","type":"string"},"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-FactSet-Api-Points-Limit":{"description":"Maximum points limit across all batches.","type":"string"},"X-FactSet-Api-Points-Remaining":{"description":"Number of points remaining till points limit reached.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"503":{"description":"Request timed out. Retry the request in sometime.","headers":{"Location":{"description":"URL to check status of the request.","type":"string"},"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-FactSet-Api-Points-Limit":{"description":"Maximum points limit across all batches.","type":"string"},"X-FactSet-Api-Points-Remaining":{"description":"Number of points remaining till points limit reached.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}}}}},"/analytics/engines/v2/calculations/{id}":{"get":{"tags":["Calculations"],"summary":"Get calculation status by id","description":"This is the endpoint to check on the progress of a previous calculation request.\r\nResponse body contains status information of the entire request and each individual calculation unit.","operationId":"getCalculationStatusById","consumes":[],"produces":["text/plain","application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"From url, provided from the location header in the Run Multiple Calculations endpoint.","required":true,"type":"string"}],"responses":{"200":{"description":"Expected response, returns status information of the entire calculation and each individual calculation unit.","schema":{"$ref":"#/definitions/CalculationStatus"},"headers":{"Cache-Control":{"description":"Standard HTTP header. Header will specify max-age in seconds. Polling can be adjusted based on the max-age value.","type":"integer"},"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"400":{"description":"Invalid identifier provided.","headers":{"Cache-Control":{"description":"Standard HTTP header. Header will specify max-age in seconds. Polling can be adjusted based on the max-age value.","type":"integer"},"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"401":{"description":"Missing or invalid authentication.","headers":{"Cache-Control":{"description":"Standard HTTP header. Header will specify max-age in seconds. Polling can be adjusted based on the max-age value.","type":"integer"},"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"403":{"description":"User is forbidden with current credentials.","headers":{"Cache-Control":{"description":"Standard HTTP header. Header will specify max-age in seconds. Polling can be adjusted based on the max-age value.","type":"integer"},"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"404":{"description":"Provided identifier was not a request, or the request was cancelled.","headers":{"Cache-Control":{"description":"Standard HTTP header. Header will specify max-age in seconds. Polling can be adjusted based on the max-age value.","type":"integer"},"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"406":{"description":"Unsupported Accept header. Header needs to be set to application/json.","headers":{"Cache-Control":{"description":"Standard HTTP header. Header will specify max-age in seconds. Polling can be adjusted based on the max-age value.","type":"integer"},"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"500":{"description":"Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.","headers":{"Cache-Control":{"description":"Standard HTTP header. Header will specify max-age in seconds. Polling can be adjusted based on the max-age value.","type":"integer"},"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"503":{"description":"Request timed out. Retry the request in sometime.","headers":{"Cache-Control":{"description":"Standard HTTP header. Header will specify max-age in seconds. Polling can be adjusted based on the max-age value.","type":"integer"},"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}}}},"delete":{"tags":["Calculations"],"summary":"Cancel calculation by id","description":"This is the endpoint to cancel a previously submitted calculation request.\r\nInstead of doing a GET on the getCalculationById URL, cancel the calculation by doing a DELETE.\r\nAll individual calculation units within the calculation will be canceled if they have not already finished.","operationId":"cancelCalculationById","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","description":"From url, provided from the location header in the Run Multiple Calculations endpoint.","required":true,"type":"string"}],"responses":{"204":{"description":"Expected response, request was cancelled successfully.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"400":{"description":"Invalid identifier provided.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"401":{"description":"Missing or invalid authentication.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"403":{"description":"User is forbidden with current credentials.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"404":{"description":"There was no request for the identifier provided, or the request was already canceled for the provided identifier.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"500":{"description":"Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"503":{"description":"Request timed out. Retry the request in sometime.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}}}}},"/analytics/lookups/v2/engines/pa/columns":{"get":{"tags":["Columns"],"summary":"Get PA columns","description":"This endpoint lists all the PA columns that can be applied to a calculation.","operationId":"getPAColumns","consumes":[],"produces":["application/json"],"parameters":[{"name":"name","in":"query","required":false,"type":"string","default":""},{"name":"category","in":"query","required":false,"type":"string","default":""},{"name":"directory","in":"query","required":false,"type":"string","default":""}],"responses":{"200":{"description":"Expected response, returns a list of PA columns","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/ColumnSummary"}},"headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"Age":{"description":"Standard HTTP header. Header will specify the age of columns list cached response.","type":"integer"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"401":{"description":"Missing or invalid authentication.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"403":{"description":"User is forbidden with current credentials","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"406":{"description":"Unsupported Accept header. Header needs to be set to application/json.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"500":{"description":"Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"503":{"description":"Request timed out. Retry the request in sometime.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}}}}},"/analytics/lookups/v2/engines/pa/columns/{id}":{"get":{"tags":["Columns"],"summary":"Get PA column settings","description":"This endpoint returns the default settings of a PA column.","operationId":"getPAColumnById","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Unique identifier for a column","required":true,"type":"string"}],"responses":{"200":{"description":"Expected response, returns settings of a PA column.","schema":{"$ref":"#/definitions/Column"},"headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"Age":{"description":"Standard HTTP header. Header will specify the age of columns list cached response.","type":"integer"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"400":{"description":"Invalid column Id.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"401":{"description":"Missing or invalid authentication.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"403":{"description":"User is forbidden with current credentials","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"404":{"description":"Column not found.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"406":{"description":"Unsupported Accept header. Header needs to be set to application/json.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"500":{"description":"Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"503":{"description":"Request timed out. Retry the request in sometime.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}}}}},"/analytics/lookups/v2/engines/pa/columnstatistics":{"get":{"tags":["ColumnStatistics"],"summary":"Get PA column statistics","description":"This endpoint lists all the column statistics that can be applied to a PA column.","operationId":"getPAColumnStatistics","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Expected response, returns a list of PA column statistics","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/ColumnStatistic"}},"headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"401":{"description":"Missing or invalid authentication.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"403":{"description":"User is forbidden with current credentials","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"406":{"description":"Unsupported Accept header. Header needs to be set to application/json.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"500":{"description":"Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"503":{"description":"Request timed out. Retry the request in sometime.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}}}}},"/analytics/lookups/v2/engines/pa/components":{"get":{"tags":["Components"],"summary":"Get PA components","description":"This endpoint returns the list of PA components in a given PA document.","operationId":"getPAComponents","consumes":[],"produces":["application/json"],"parameters":[{"name":"document","in":"query","description":"Document Name","required":true,"type":"string"}],"responses":{"200":{"description":"Expected response, returns a list of PA components.","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/ComponentSummary"}},"headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"400":{"description":"Invalid query parameter provided or Invalid PA document name.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"401":{"description":"Missing or invalid authentication.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"403":{"description":"User is forbidden with current credentials","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"404":{"description":"Document not found.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"406":{"description":"Unsupported Accept header. Header needs to be set to application/json.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"500":{"description":"Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"503":{"description":"Request timed out. Retry the request in sometime.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}}}}},"/analytics/lookups/v2/engines/pa/components/{id}":{"get":{"tags":["Components"],"summary":"Get PA component by id","description":"This endpoint returns the default settings of a PA component.","operationId":"getPAComponentById","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Unique identifier for a PA component","required":true,"type":"string"}],"responses":{"200":{"description":"Expected response, returns the default settings of a PA component.","schema":{"$ref":"#/definitions/PAComponent"},"headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"400":{"description":"Invalid PA component id.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"401":{"description":"Missing or invalid authentication.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"403":{"description":"User is forbidden with current credentials","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"404":{"description":"Component not found.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"406":{"description":"Unsupported Accept header. Header needs to be set to application/json.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"500":{"description":"Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"503":{"description":"Request timed out. Retry the request in sometime.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}}}}},"/analytics/lookups/v2/engines/spar/components":{"get":{"tags":["Components"],"summary":"Get SPAR components","description":"This endpoint returns the list of SPAR components in a given SPAR document.","operationId":"getSPARComponents","consumes":[],"produces":["application/json"],"parameters":[{"name":"document","in":"query","description":"Document Name","required":true,"type":"string"}],"responses":{"200":{"description":"Expected response, returns a list of SPAR components.","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/ComponentSummary"}},"headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"400":{"description":"Invalid query parameter provided or Invalid SPAR document name.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"401":{"description":"Missing or invalid authentication.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"403":{"description":"User is forbidden with current credentials","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"404":{"description":"SPAR Document not found.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"406":{"description":"Unsupported Accept header. Header needs to be set to application/json.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"500":{"description":"Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"503":{"description":"Request timed out. Retry the request in sometime.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}}}}},"/analytics/lookups/v2/engines/vault/components":{"get":{"tags":["Components"],"summary":"Get Vault components","description":"This endpoint returns the list of Vault components in a given Vault document.","operationId":"getVaultComponents","consumes":[],"produces":["application/json"],"parameters":[{"name":"document","in":"query","description":"Document Name","required":true,"type":"string"}],"responses":{"200":{"description":"Expected response, returns a list of Vault components.","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/ComponentSummary"}},"headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"400":{"description":"Invalid query parameter provided or invalid Vault document name.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"401":{"description":"Missing or invalid authentication.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"403":{"description":"User is forbidden with current credentials","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"404":{"description":"Vault Document not found.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"406":{"description":"Unsupported Accept header. Header needs to be set to application/json.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"500":{"description":"Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"503":{"description":"Request timed out. Retry the request in sometime.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}}}}},"/analytics/lookups/v2/engines/vault/components/{id}":{"get":{"tags":["Components"],"summary":"Get Vault component by id","description":"This endpoint returns the default settings of a Vault component.","operationId":"getVaultComponentById","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Unique identifier for a vault component","required":true,"type":"string"}],"responses":{"200":{"description":"Expected response, returns the default settings of a Vault component.","schema":{"$ref":"#/definitions/VaultComponent"},"headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"400":{"description":"Invalid Vault component id.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"401":{"description":"Missing or invalid authentication.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"403":{"description":"User is forbidden with current credentials","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"404":{"description":"Vault Component not found.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"406":{"description":"Unsupported Accept header. Header needs to be set to application/json.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"500":{"description":"Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"503":{"description":"Request timed out. Retry the request in sometime.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}}}}},"/analytics/lookups/v2/engines/vault/configurations":{"get":{"tags":["Configurations"],"summary":"Get Vault configurations","description":"This endpoint returns all the Vault configurations saved in the provided account.","operationId":"getVaultConfigurations","consumes":[],"produces":["application/json"],"parameters":[{"name":"account","in":"query","description":"Required account query parameter to filter configurations for a specific account","required":true,"type":"string"}],"responses":{"200":{"description":"Expected response, returns a dictionary of Vault configurations.","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/VaultConfigurationSummary"}},"headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"400":{"description":"Invalid account.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"401":{"description":"Missing or invalid authentication.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"403":{"description":"User is forbidden with current credentials","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"404":{"description":"Account not found.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"406":{"description":"Unsupported Accept header. Header needs to be set to application/json.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"500":{"description":"Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"503":{"description":"Request timed out. Retry the request in sometime.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}}}}},"/analytics/lookups/v2/engines/vault/configurations/{id}":{"get":{"tags":["Configurations"],"summary":"Get Vault configuration by id","description":"This endpoint returns details for a Vault configuration as well as a list of accounts it is used in.","operationId":"getVaultConfigurationById","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Vault configuration id to get the details of","required":true,"type":"string"}],"responses":{"200":{"description":"Expected response, returns details for a Vault configuration.","schema":{"$ref":"#/definitions/VaultConfiguration"},"headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"400":{"description":"Invalid vault configuration code.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"401":{"description":"Missing or invalid authentication.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"403":{"description":"User is forbidden with current credentials","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"404":{"description":"Vault configuration id not found.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"406":{"description":"Unsupported Accept header. Header needs to be set to application/json.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"500":{"description":"Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"503":{"description":"Request timed out. Retry the request in sometime.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}}}}},"/analytics/lookups/v2/engines/pa/currencies":{"get":{"tags":["Currencies"],"summary":"Get PA currencies","description":"This endpoint lists all the PA currencies that can be applied to a calculation.","operationId":"getPACurrencies","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Expected response, returns a list of PA currencies.","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/Currency"}},"headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"401":{"description":"Missing or invalid authentication.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"403":{"description":"User is forbidden with current credentials","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"406":{"description":"Unsupported Accept header. Header needs to be set to application/json.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"500":{"description":"Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"503":{"description":"Request timed out. Retry the request in sometime.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}}}}},"/analytics/lookups/v2/engines/pa/dates":{"get":{"tags":["Dates"],"summary":"Convert PA dates to absolute format","description":"This endpoint converts the given start and end dates to yyyymmdd format for a PA calculation.","operationId":"convertPADatesToAbsoluteFormat","consumes":[],"produces":["application/json"],"parameters":[{"name":"startdate","in":"query","description":"Start Date","required":false,"type":"string"},{"name":"enddate","in":"query","description":"End Date","required":true,"type":"string"},{"name":"componentid","in":"query","description":"Component Id","required":true,"type":"string"},{"name":"account","in":"query","description":"Account","required":true,"type":"string"}],"responses":{"200":{"description":"Expected response, returns the converted dates in yyyymmdd format.","schema":{"$ref":"#/definitions/DateParametersSummary"},"headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"400":{"description":"Invalid query parameter or value is provided.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"401":{"description":"Missing or invalid authentication.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"403":{"description":"User is forbidden with current credentials","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"404":{"description":"Document or account not found.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"406":{"description":"Unsupported Accept header. Header needs to be set to application/json.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"500":{"description":"Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"503":{"description":"Request timed out. Retry the request in sometime.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}}}}},"/analytics/lookups/v2/engines/vault/dates":{"get":{"tags":["Dates"],"summary":"Convert Vault dates to absolute format","description":"This endpoint converts the given start and end dates to yyyymmdd format for a Vault calculation.","operationId":"convertVaultDatesToAbsoluteFormat","consumes":[],"produces":["application/json"],"parameters":[{"name":"startdate","in":"query","description":"Start Date","required":false,"type":"string"},{"name":"enddate","in":"query","description":"End Date","required":true,"type":"string"},{"name":"componentid","in":"query","description":"Vault Component Id","required":true,"type":"string"},{"name":"account","in":"query","description":"Account","required":true,"type":"string"}],"responses":{"200":{"description":"Expected response, returns the converted dates in yyyymmdd format.","schema":{"$ref":"#/definitions/DateParametersSummary"},"headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"400":{"description":"Invalid query parameter or value is provided.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"401":{"description":"Missing or invalid authentication.","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of requests left for the time window.","type":"string"},"X-RateLimit-Reset":{"description":"Number of seconds remaining till rate limit resets.","type":"string"}}},"403":{"description":"User is forbidden with current credentials","headers":{"X-DataDirect-Request-Key":{"description":"FactSet's request key header.","type":"string"},"X-FactSet-Api-Request-Key":{"description":"Key to uniquely identify an Analytics API request. Only available after successful authentication.","type":"string"},"X-RateLimit-Limit":{"description":"Number of allowed requests for the time window.","type":"string"},"X-RateLimit-Remaining":{"description":"Number of reques
[...]
